  .nav-bar {
    display: flex;
    background-color: #ffffff;
    margin: 0 25%;
    border-radius: 10px; /* Curvature of the border corners */
    padding: 10px 20px; /* Inside the border whitespace */
    border-color: black;
    border-style: outset;
    border-width: 2px;
    justify-content: space-between;
    align-items: center;
    color: black;
    min-width: fit-content;
  }

  h1 {
    padding: 10px;
    text-align: left;
  }

  /* List and Links Styling */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Login Button */
  .login-btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #FFA500, #FF4500);
  }

  .navbar-toggler {
    margin-left: auto; /* Align the toggler to the right */
  }

  /* Responsive Navbar Styling */
  .navbar-collapse {
    justify-content: flex-end;
  }

  body {
    background-color: rgb(245, 245, 228);
  }

  /* Container for the sidebar and content */
.container {
  display: flex;
  margin: 0;
}

/* Sidebar styling */
.sidebar {
  width: 0px; /* Adjust the width as needed */
  position: fixed; /* This makes the sidebar fixed */
  top: 20%; /* Keeps it at the top of the page */
  right: 0px; /* Keeps it on the left side */
  height: 20%; /* Takes up 20% of the page */
  background-color: #ffffff;
  color: white;
  border-radius: 10px; /* Curvature of the border corners */
  border-style: outset;
  border-top: 2px solid black;  /* Top border */
  border-left: 2px solid black; /* Left border */
  border-bottom: 2px solid black; /* Bottom border */
  padding: 20px;
}


.accessibility-button img {
  width: 30px; /* Adjust the image size */
  height: auto;
}


/* Main content area */
.content {
  margin-left: 260px; /* Creates space on the left side for the fixed sidebar */
  padding: 20px;
}
